# IDE相关
.idea/
test/
.vscode/
*.swp
*.swo
.DS_Store

# 后端相关
backend/__pycache__/
*.pyc
.pyo
.pyd
backend/.Python
backend/env/
backend/venv/
backend/.env
backend/*.log

# 前端相关
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/build/
frontend/dist/
frontend/.cache/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/**/*.md

# 系统文件
*.log
*.tmp
*.temp
.env 